@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
  font-family: 'Odibee Sans', cursive;
  background-color: grey;
  letter-spacing: 3px;
}

h1 {
  text-align: center;
}

.button {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.kiler {
  margin-top: 2rem;
  text-align: center;
}
.card {
  margin-right: 1rem;
  height: 400px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: brown;
}

.weapon-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-holder {
  padding: 8px;
  height: 200px;
}
.img-holder > img {
  width: 100%;
  height: 100%;
}

.kiler-name {
  text-align: center;
  padding: 0.5rem;
  background-color: tomato;
  width: 90%;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.kiler-desc {
  text-align: center;
  padding: 0.5rem;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}

.weapon,
.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  margin-bottom: 1rem;
  border: 2px solid grey;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  color: white;
}

#game {
  display: none;
}
